@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@500&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color-50);
}

:root {
    --bg-color-50: #24262b;
    --bg-color-100: #9f535e;;
    --bg-color-700: #ff0057;
    --text-color-900: #333743;
    --text-color-700: #0293B7;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 30px 10%;
}

.header-logo {
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    text-decoration: none;
}

.header-logo:hover {
    color: var(--text-color-900);
}

.header-nav__links {
    list-style: none;
}

.header-nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.header-nav__links li a {
    transition: all 0.3s ease 0s;
    
}

.header-nav__links li a:hover {
    color: var(--text-color-900);
}

.cta button {
    padding: 9px 25px;
    background-color: var(--text-color-700);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    background-color: var(--text-color-900);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* header end */

/* intro start */


/* intro end */

ul {
    list-style: none;
}

/* footer */

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 35px 0;
    color: #fff;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}

.footer-bottom {
    background: #121315;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 300;
}

/* footer-end */
